@charset "utf-8";

$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16pt;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:       #fff;
$background-color: #1C2137;
$brand-color:      #00FEB5;
$second-color:     #442850;
$selection-color:  #399087;

$content-width:    50em;
$spacing-unit:     1.5em;

